<h2 class="subtitulo" [ngStyle]="{'color':'black','background-color':'#7fffd4'}">COMPONENTE HIJO</h2>
<p [ngStyle]="{'color':'white','background-color':'#000000','text-align':'center'}">Aqui se muestra el texto en el componente hijo: {{ mensaje_padre | uppercase }}</p>

<!-- Ejemplo 02 Comunciacion HIJO - PADRE -->
<!-- <p>Formulario Componente Hijo</p>
<form>
    <input type="text" name="datos" [(ngModel)]="datos_hijo">
    <input type="button" value="EnviarMensaje1" (click)="EnviarMensaje1()">
</form> -->